
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 2em;
}

header {
    background-image: url('afbeeldingen/Deventer.jpg');
    background-position: center;
    text-align: center;
    color: rgb(67, 173, 249);
    padding: 50px 20px;
}

h1 {
    font-size: 4em;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

aside, section {
    padding: 20px;
}

aside {
    background-color: #f4f4f4;
    width: 100%;
}

section {
    background-color: #b78989;
    width: 100%;
}

article {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

@media only screen and (min-width: 768px) {
    aside {
        width: 30%;
    }

    section {
        width: 50%;
    }

     img {
        width: 250px;
        height: auto;

    }
}


@media (max-width: 768px) {

    section {
        width: 100%;
        background-color: lightblue;
    }

     img {
        width: 250px;
        height: auto;
    }

    aside {
        width: 50%;
    }
}

[class*="col-"] {
    float: left;
    padding: 15px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}