body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    width: 50%;
    height: 80px;
    background-color: aquamarine;
    text-align: center;
}
header {
    width: 50%;
    height: 60px;
    background-color: blueviolet;
    text-align: center;
    color: blanchedalmond;
}
td img {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    width: 150px;
    height: auto;
}

td {
    width: 150px;
    text-align: center;
}

/* Celkleuren */
#cel1 {
    background-color: aquamarine;
}
#cel2 {
    background-color: rgb(74, 175, 6);
}

#cel3 {
    background-color: coral;
}
#cel4 {
    background-color: rgb(255, 80, 226);
    width: 150px;
}
#cel5 {
    background-color: rgb(80, 83, 255);
}
#cel6 {
    background-color: rgb(80, 255, 83);
}
#cel7 {
    background-color: rgb(255, 159, 80);
}
#cel8 {
    background-color: rgb(255, 255, 80);
}
#cel9 {
    background-color: rgb(80, 203, 255);
}
#cel10 {
    background-color: rgb(80, 173, 255);
}
#cel11 {
    background-color: rgb(80, 255, 86);
}
#cel12 {
    background-color: rgb(188, 255, 80);
}
#cel13 {
    background-color: rgb(147, 255, 80);
}
#cel14 {
    background-color: rgb(158, 61, 26);
}
#cel15 {
    background-color: rgb(211, 80, 255);
}
#cel16 {
    background-color: rgb(173, 80, 255);
}
