body {
    flex-direction: column;
    background-color: #c0c2c2;

}

h1 {
    text-align: center;
}

.fs-3 {
    text-align: center;
}

.card-text {
    color: blueviolet;
}

.card {
    margin: 50px 30px 30px;
}

.text {
    padding: 50px;
}

.container-md {
    /* padding: 50px; */
    margin-bottom: 50px;
}

form {
    padding: 50px;
}

.navbar {
    background-color: rgb(#c0c2c2);
}

main {
    flex: 1;
}

.footer {
    height: 200px;
    text-align: center;
    padding: 20px;
    background-color: rgb(#c0c2c2);

}
